<div class="ui grid">

    <div class="row" style="padding-top: 0;">
        <div class="two wide column">
            <div class="ui inverted orange vertical pointing menu fluid" style="border-radius: 0;">
                <a class="item" routerLink="info" routerLinkActive="active">Información</a>
                <a class="item" routerLink="guide" routerLinkActive="active">Guía</a>
                <a class="item" routerLink="resume" routerLinkActive="active">Resumen</a>
                <a class="item" routerLink="rewards" routerLinkActive="active">Recompensas</a>
                <a class="item" routerLink="stages" routerLinkActive="active">Etapas</a>
                <a class="item" routerLink="team" routerLinkActive="active">Equipo</a>
                <a class="item" routerLink="bank" routerLinkActive="active">Banco</a>
            </div>
        </div>
        <div class="fourteen wide column">
            <div class="ui padded grid">
                <div class="sixteen wide column" style="margin-top: 0.5em;">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
