<div class="ui grid">
    <div class="row">
        <h2 class="ui header">
            <div class="content">
                Etapas del proyecto
                <div class="sub header">El dinero que se obtener con la campaña del proyecto será liberado por porcentajes en etapas, al menos debes
                    tener dos etapas.
                </div>
            </div>
        </h2>
    </div>

    <div class="row">
        <div class="sixteen wide column">
            <div class="ui clearing segment">
                <div class="ui form">
                    <h3>1° Etapa</h3>
                    <div class="fields">
                        <div class="twelve wide field">
                            <h3>Nombre de etapa</h3>
                            <input type="text">
                        </div>
                        <div class="four wide field">
                            <h3>Porcetaje necesario. (<50%)</h3>
                            <input type="number">
                        </div>
                    </div>
                    <div class="sixteen wide field">
                        <h3 class="ui header">
                            Descripción etapa
                            <div class="sub header">Describe que se hará con el porcetaje dinero que sea otorgado.</div>
                        </h3>
                        <textarea rows="2"></textarea>
                    </div>
                    <div class="ui right floated button orange">
                        <i class="ui plus icon"></i>Agregar</div>
                </div>
            </div>
        </div>
    </div>
</div>