<div class="ui container grid">
    <div class="row">
        <div class="sixteen wide column">
            <h1 class="ui header">Explorar</h1>
        </div>
    </div>
    <div class="row four column">
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/wireframe/image.png">
                </div>
                <div class="content">
                    <a class="header">Proyecto 1</a>
                    <div class="description">Descripción del proyecto</div>
                    <div class="ui progress">
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/wireframe/image.png">
                </div>
                <div class="content">
                    <a class="header">Proyecto 2</a>
                    <div class="description">Descripción del proyecto</div>
                    <div class="ui progress">
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid card">
                <div class="image">
                    <img src="https://semantic-ui.com/images/wireframe/image.png">
                </div>
                <div class="content">
                    <a class="header">Proyecto 3</a>
                    <div class="description">Descripción del proyecto</div>
                    <div class="ui progress">
                        <div class="bar">
                            <div class="progress"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>