<div class="ui grid">
    <div class="row">
        <h2 class="ui header">
            <div class="content">
                Guía del Proyecto
                <div class="sub header">Los proyectos deben ser guiados por... </div>
            </div>
        </h2>
    </div>

    <div class="row">
        <div class="sixteen wide column">
            <p>Nosotros nos pondremos en contaco con el guía vía email para que nos proporcione su información.</p>
            <div class="ui big form">
                <div class="required field">
                    <label>Email del guía:</label>
                    <input type="email" placeholder="Email de tu guía">
                </div>
            </div>
            <br>   
            <button class="ui right floated button huge orange">Guardar y continuar</button>
        </div>
    </div>
</div>