<div class="ui centered grid">
    <div class="five wide column" style="margin-top: 4em;">
<button class="big fluid ui facebook button" (click)="fbLogin()">
                    <i class="facebook icon"></i>
                    Registrarme con Facebook
                </button>
<h4 class="ui horizontal divider header">
    Registrarme con mi correo
</h4>
<form class="ui form" style="margin-top: 2em;" (ngSubmit)="register()" [formGroup]="userForm">
<div class="field">
    <input type="email" placeholder="Email" formControlName="email">
</div>
<div class="two fields">
    <div class="field">
        <input type="text" placeholder="Nombres(s)" formControlName="firstName">
    </div>
    <div class="field">
        <input type="text" placeholder="Apellidos" formControlName="lastName">
    </div>
</div>
<div class="field">
    <input type="password" placeholder="Contraseña" formControlName="password">
</div>
<button class="ui fluid button" type="submit" [disabled]="!userForm.valid">Crear una cuenta</button>
</form>
<div class="ui clearing divider"></div>
<p>¿Ya tienes una cuenta?</p><a routerLink="/login">Iniciar sesión</a>
</div>
</div>