<div class="ui grid">
    <div class="row">
        <h2 class="ui header">
            <div class="content">
                Recompensas
                <div class="sub header">Asigna las recompensas que darás a las personas que apoyen tu proyecto,</div>
            </div>
        </h2>
    </div>

    <div class="row">
        <div class="sixteen wide column">
            <div class="ui clearing segment">
                <div class="ui form">
                    <div class="sixteen wide field">
                        <label>Título de recompensa</label>
                        <input type="text">
                    </div>
                    <div class="sixteen wide field">
                        <label>Descripción de recompensa</label>
                        <textarea rows="2"></textarea>
                    </div>
                    <div class="fields">
                        <div class="six wide field">
                            <label>Precio de recompensa</label>
                            <input type="number">
                        </div>
                        <div class="six wide field">
                            <label>Cantidad disponibles</label>
                            <input type="number">
                        </div>
                        <div class="four wide field">
                            <label>Mes apróximado de entrega</label>
                            <input type="text">
                        </div>
                    </div>
                    <div class="ui right floated button orange">
                        <i class="ui plus icon"></i>Agregar</div>
                </div>
            </div>
        </div>
    </div>
</div>