<div class="ui grid">
    <div class="row">
        <h2 class="ui header">
            <div class="content">
                Equipo
                <div class="sub header">Nombra a los integrantes que forman parte del proyecto y 
                    nosotros nos pondremos en contacto con ellos vía email para completar los datos.</div>
            </div>
        </h2>
    </div>

    <div class="row">
        <div class="sixteen wide column">
            <div class="ui big form">
                <div class="fields">
                    <div class="nine wide field">
                        <label>Email</label>
                        <input type="email">
                    </div>
                    <div class="five wide field">
                        <label>Rol</label>
                        <input type="text">
                    </div>
                    <div class="one wide field">
                        <button class="ui orange button" style="margin-top: 2em;">
                            <i class="plus icon"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>